* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/* Start Header/Navigation tags */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053519;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.header div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header div ul li {
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* End of Header/Navigation tags */

/* Begin Hero/Content Style */
p {
    font-size: 20px;
}

.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Thanksgiving_2005_020.bmp");
    background-size: cover;
    background-position: center;
}

.port {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
  }

  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #053519;
    color: #fff;
  }

  .portfolio {
    margin-bottom: 20px;
    height: 350px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    flex: 1 1 100px;
    padding: 10px;
  }
  

  .portfolio header {
    padding: 20px;
    background: #053519;
    color: #fff;
  }
  
  .portfolio img {
    width: 100%;
    min-width: 200px;
  }

/* End of Hero/Content Style */ 


/* Start of Hobbies Style */
.hh {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #053519;
  padding: 10px 20px;
}

.hh h3 {
  font-size: 30px;
}

.me {
    flex: 1 1 25%;
    flex-direction: row;
    padding: 0 0 5px 60px;
}

.me p {
    font-size: 14px;
}

.me img {
    width: 30%;
    
}
/* End of hobbies Style */

/* Start of Footer */
.footer {
  padding: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #053519;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  
  .footer h2 {
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    margin: 0;
  }

  .footer div {
    padding-top: 25px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

  .footer div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

  .footer div ul li {
    margin-left: 25px;
}
  
  .footer a {
    color: #ffffff;
  }
  
/* End of Footer */

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}

