* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/* Start Header/Navigation tags */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053519;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.header div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header div ul li {
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* End of Header/Navigation tags */

/* Begin Hero/Content Style */
p {
    font-size: 20px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Thanksgiving_2005_020.bmp");
    background-size: cover;
    background-position: center;
}

.port {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .port h3 {
    color: #053519;
    font-size: 35px;
    padding: 0px 0px 0px 0px;
  }

  .portfoliofirst {
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    order: -1;
    flex: 1 0 100%;
  }
  

  .portfolio1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    flex: 1;
    padding-left: 50px;
    padding-right: 5px;
    padding-bottom: 50px;
  }

  .portfolio2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    flex: 1;
    padding-right: 50px;
    padding-left: 5px;
    padding-bottom: 50px;
  }


  .portfolio header {
    padding: 20px;
    background: #053519;
    color: #fff;
  }
  
  .height1 {
    width: 100%;
    max-height: 300px;
  }

  .height {
    width: 100%;
    height: 100%;
  }

/* End of Hero/Content Style */ 

.break {
  padding: 25px;
}

/* Begin of Experiences */

.experience {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #053519;
  padding: 10px 150px;
}

.experience h2 {
  font-size: 35px;
}

.experience li {
  font-size: 16px;
  list-style: none;
  list-style-type: none;
}

/* End of Experience */

/* Begin of Education */

.education {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #053519;
  padding: 10px 0px 30px 150px;
}

.education h2 {
  font-size: 35px;
}

.education li {
  font-size: 16px;
  list-style: none;
  list-style-type: none;
}


/* End of Education */

/* Start of Hobbies Style */
.hh {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #053519;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.hh h3 {
  font-size: 35px;
  padding: 25px;
  margin-left: 125px; 
}

.hob {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 90px;
  margin-right: 75px;
  margin-bottom: 50px;
}

.text {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px; 
}

.me {
  max-width: 15%; 
  max-height: 150px;
}
/* End of hobbies Style */


/* Start of Footer */
.footer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #053519;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}
  
.footer h3 {
  color: #ffffff;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 50px;
}


  .footer div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.footer div ul li {
  margin-top: 15px;
  margin-left: 75px;
}
  
  .footer a {
    color: #ffffff;
  }
  
/* End of Footer */

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .height1 {
    width: 100%;
    max-height: 200px;
  }

  .text {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px; 
  }
  
  .me {
    max-width: 25%; 
    max-height: 150px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* NO ADJUSTMENT NECESSARY FOR 768PX BECAUSE CSS MATCHES 980PX */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* NO ADJUSTMENT NECESSARY FOR 575PX BECAUSE CSS MATCHES 980PX */

