:root {
  --primary-color: #053519;
  --secondary-color: #ffffff;
  --primary-fontfamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --secondary-fontfamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* Start Header/Navigation tags */
.header {
  padding: 20px;
  font-family: var(--primary-fontfamily);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header h1 {
  font-size: 48px;
}

.header div {
  padding-top: 15px;
  font-family: var(--primary-fontfamily);
  font-size: 24px;
  margin-right: 20px;
}

.header div ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header div li {
  margin-left: 25px;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
/* End of Header/Navigation tags */

/* Begin Hero/Portfolio Style */
.hero {
  width: 100%;
  height: 300px;
  margin-bottom: 25px;
  background-image: url("../images/Thanksgiving_2005_020.bmp");
  background-size: cover;
  background-position: center;
}

.port {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.port h3 {
  color: var(--primary-color);
  font-size: 35px;
}

.portfolio header {
  font-size: 24px;
}

.portfoliofirst {
  padding: 50px;
  font-family: var(--primary-fontfamily);
  color: var(--secondary-color);
  order: -1;
  flex: 1 0 100%;
  }
  
.portfolio1 {
  font-family: var(--primary-fontfamily);
  color: var(--secondary-color);
  padding-left: 50px;
  padding-right: 5px;
  padding-bottom: 50px;
  flex: 1;
}

.portfolio2 {
  font-family: var(--primary-fontfamily);
  color: var(--secondary-color);
  padding-right: 50px;
  padding-left: 5px;
  padding-bottom: 50px;
  flex: 1;
}

.portfolio header {
  padding: 20px;
  background: var(--primary-color);
  color: var(--secondary-color);
}
  
.height1 {
  width: 100%;
   max-height: 300px;
}

.height {
  width: 100%;
  height: 100%;
}
/* End of Hero/Portfolio Style */ 

.break {
  padding: 25px;
}

/* Begin of Experiences */
p {
  font-size: 20px;
}

.experience {
  padding: 10px 150px;
  font-family: var(--primary-fontfamily);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.experience h2 {
  font-size: 35px;
}

.experience li {
  list-style: none;
  list-style-type: none;
  font-size: 16px;
}
/* End of Experience */

/* Begin of Education */
.education {
  padding: 10px 0px 30px 150px;
  font-family: var(--primary-fontfamily);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.education h2 {
  font-size: 35px;
}

.education li {
  list-style: none;
  list-style-type: none;
  font-size: 14px;
}
/* End of Education */

/* Start of Hobbies Style */
.hh {
  font-family: var(--primary-fontfamily);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.hh h3 {
  font-size: 35px;
  padding: 25px;
  margin-left: 125px; 
}

.hob {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 90px;
  margin-right: 75px;
  margin-bottom: 50px;
}

.text {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px; 
}

.me {
  max-width: 15%; 
  max-height: 150px;
}
/* End of hobbies Style */

/* Start of Footer */
.footer {
  padding-top: 20px;
  font-family: var(--secondary-fontfamily);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
  
.footer h3 {
  color: var(--secondary-color);
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.footer div ul {
  list-style-type: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer div ul li {
  margin-top: 15px;
  margin-left: 75px;
}
  
.footer a {
  color: var(--secondary-color);
}
  
/* End of Footer */

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .height1 {
    width: 100%;
    max-height: 200px;
  }

  .text {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px; 
  }
  
  .me {
    max-width: 25%; 
    max-height: 150px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* NO ADJUSTMENT NECESSARY FOR 768PX BECAUSE CSS MATCHES 980PX */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* NO ADJUSTMENT NECESSARY FOR 575PX BECAUSE CSS MATCHES 980PX */

